main{
	display: block;
}
.cabecalho {
	border-style: solid;
	margin: auto;
	padding: 0.7rem;
	background-color: #2F0C60;
	font-size: 1rem;
	font-weight: bold;
	min-width: 20rem;
	max-width: 100%;
	min-height: 3.25rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
}

.body {
	background-color: #FFFFFF;
	margin-top: 10rem;
}

.logo{
	align-content: center;
}

.centralizadortitulo {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif; 
	font-size: 1.5rem;
	text-decoration: none;
	color: #5189BA;
	font-weight: bold;
	margin-top: -3rem;
	max-width: 100%;
	max-height: : 100%;
}

.centralizadorlegenda {
	text-align: center;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding:0.5%;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.blocktext {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 50.25rem;
	padding: 3rem;
	margin-left: auto;
	margin-right: auto;

}

.blocktext2 {
	display: flex;
	justify-content: space-around;
	max-width: 70rem;
	min-height: 35rem;
	padding: 1rem;
	margin-left:35rem;
	margin-right: auto;
}
.blocktext2-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	padding: 1rem;
	list-style: circle;
}

.paragraph{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.2rem;
	color: #FFFFFF;
	padding: 1rem;
	display: block;
}

.link{
	text-decoration: none;
	color: white;
}

.link:hover {
	color:#197c87;
}

.img-block4{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 2rem;
	top: 15rem;
}

.paragraph3{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 2rem;
	text-decoration: none;
	color: #64B4F9;
	margin-top: 1rem;
	margin-left: 1rem
}

.paragraph4{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 2rem;
	text-decoration: none;
	color: #64B4F9;
	margin-top: 15rem;
	margin-left: 1rem
}

.paragraph5{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #16BA45;
	left: 48rem;
	top: 28rem;
	margin-top: 1rem;
}

.paragraph6{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	list-style: circle;
	margin-left: 1.5rem;
}

.paragraph7{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #16BA45;
	margin-top: 1rem;
}

.paragraph8{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	list-style: circle;
	margin-left: 1.5rem;
}

@media (max-width: 375px) {
	.cabecalho{
		font-size: 0.3rem;
		justify-content: space-between;
		z-index: 1;

	}

	.logo{
		float: center;
		max-width: 100%;
		max-height: : 100%;   }

	.displayed{
		margin-top: 1rem;
		margin-left: 1rem;
		width: 8rem;
		height: 8rem;
	}

	.titulo-mobile{
		display:block;
		align-items: center;
		text-align: center;
		font-family: 'Noto Sans JP', sans-serif; 
		font-size: 1.75rem;
		text-decoration: none;
		color: white;
		font-weight: bold;
		padding:5%;
	}

	.blocktext2{
		display: flex;
		flex-direction: column;
		text-align: center;
		margin: 0rem;
		justify-content: space-between;
		background-color: gold;

	}

	.title{
		display: flex;
		font-size: 1.5rem;
		padding-top: 1rem;
		text-align: left;
	}

	.centralizadorlegenda{
		margin-left: -12.5rem;
		margin-top: 0.1rem;
		font-size: 1.1rem;
		color: #FA8BB5;
	}

	.paragraph{
		align-content: space-around;
		margin-left: 10rem;
		margin-top: -10.5rem;
		font-size: 1rem;
		color: #000000;
	}

	.linha{
		background-color: #5189BA;
		height: 1.3px;
		position: static;
	}

	.paragraph2{
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 1.5rem;
		color: #5189BA;
	}

	.item_escrever{
		width: 2.8rem;
		height: 2.8rem;
		margin-top: -1rem;
	}


	.bloco2{
		margin-top: 3rem;
		margin-left: 1rem;
		margin-right: 1rem;
		display: flex;	
		justify-content: space-between;
	}

	.estatico{
		margin-top: -4rem;
		position: fixed;
		background-color: white;
		z-index: 1;
	}

	.bottom{
		border-style: solid;
		margin: auto;
		padding: 0.7rem;
		background-color: #2F0C60;
		min-width: 22rem;
		max-width: 100%;
		min-height: 3.25rem;
		display: flex;
		position: fixed;
		bottom: 0;
		justify-content: space-around;
	}

	.rotina{
		position: absolute;
		margin-top: 14.5rem;
		min-height: 100%;
		font-family: 'Noto Sans JP', sans-serif;
		max-width: 100%;
		max-height: : 100%;
	}

	.rotina_edicao{
		position: absolute;
		min-height: 100%;
		font-family: 'Noto Sans JP', sans-serif;
		max-width: 100%;
		max-height: : 100%;
		margin-bottom: 3rem;
	}

	.botao{
		display: flex;
		justify-content: center;

	}

	.task{
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	.text{
		font-size: 1rem;
		color: black
	}

	.task input{
		position: absolute;
		visibility: hidden;
	}

	.task i{
		display: inline-block;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		border: 1px solid #C072E9;
		text-align: center;
		line-height: 3rem;
		color: transparent;
	}

	.task input:checked ~ i{
		color: #FA8BB5;

	} 
	.task input:checked ~ .text{
		color: #FA8BB5;	
	} 

	/*músic Player*/ 

	.mainbox{
		top:19rem;
		height:5.7rem;
		width:18.2rem;
		background-color: white;
		position:absolute;
		z-index:10;
		left:2.5rem;
		box-shadow:0 0.7rem 0.84rem rgba(0, 0, 0, 0.3);
		border-radius:1.4rem;
	}

	.roundbox{
		position:absolute;
		z-index:15;
		left:1.3rem;
		height:5.95rem;
		width:5.95rem;
		background-color:#FC9;
		border-radius:15.75rem;
		top:-2.1rem;
		box-shadow:0 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
	}
	.roundbox img{
		width:5.95rem;
		height:5.95rem;
		border-radius:4rem;
		-webkit-animation:r1 6s linear infinite;
		animation:r1 6s linear infinite; 
	}
	@keyframes r1{
		0%{transform:rotate(-360deg)};
		10%{transform:rotate(0deg)};
	}

	/*small hole at image box*/
	.smallbox{
		position:absolute;
		z-index:17;
		left:35px;
		top:35px;
		height:24.5px;
		width:24.5px;
		background-color:#fff4f4;
		border-radius:252px;
	}

	.button{
		height:49px;
		width:154px;
		position:absolute;
		z-index:17;
		top:45.5px;
		left:130px;
	}

	#playButton{
		background-image:url(icon/icons8-play-50.png);
		background-repeat:no-repeat;
		background-position:center;
		height:50px;
		width:50px;
		border-radius:10.5px;
		cursor:pointer;
		border:none;
	}
	#playButton:active{
		position:relative;
		top:1.4px;
	}
	.#playButton:hover{
		background-color:#CCC;
	}

	#muteButton{
		background-image:url(icon/icons8-voice-filled-15.png);
		background-repeat:no-repeat;
		background-position:center;
		height:21px;
		width:21px;
		border-radius:3.5px;
		cursor:pointer;
		border:none;
		background-color:#fff;
		margin-top:63px;
		margin-left:10.5px;
	}

	/*backward playbar-box-css*/
	.play-content{	
		position:absolute;
		z-index:5;
		margin-top:2rem;
		margin-left: 1rem;
		font-family:sans-serif;
	}

	.text1{
		font-weight:bold;
		font-size:1rem;
		text-align: center;

	}
	.text2{
		font-size:0.9rem;
		text-align: center;
	}

	#progressBar{
		height:3px;
		width:0px;
		border-radius:2px;
		background:#F96;
	}	

	.grafico{
		width: 100%;
		padding-bottom: 5%;
		padding-top: 5%;
	}

	.frase{
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 1px solid black;
		padding-bottom: 2%;
		padding-top: 2%;

	}

	.metas{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 5%;
	}

	.meta{
		font-size: 1.1rem;
		color: #FA8BB5;
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: black;
		width: 100%;
		text-align: center;
	}

	.meta2{
		font-size: 1.1rem;
		color: #FA8BB5;
		padding: 5%;
	}

	.paragraph5{
		font-family: 'Noto Sans JP', sans-serif;
		font-size: 1.5rem;
		color: #5189BA;
		padding-bottom: 5%;
	}